/* CSS Document */
H1 { font-size: 15px; color: #330066; font-family: verdana, arial, sansserif; margin:4px;}
H2 { font-size: 15px; color: #330066; font-family: verdana, arial, sansserif; margin:4px;}
H3 { font-size: 13px; color: #330066; font-family: verdana, arial, sansserif; margin:4px;}
H4 { font-size: 12px; color: black; font-family: verdana, arial, sansserif; margin:0px;}
#bodykw {padding:6px; border:solid #330066 2px;}
